<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Local API - Express</title>
</head>
<body>
  <div class="container">
    <form action="/" method="POST">
      <h2>Add New Friend</h2>
      <input type="text" id="name" name="name" placeholder="Name">
      <input type="number" id="age" name="age" placeholder="Age">
      <label for="submit">
        <input type="submit" id="submit" class="btn" value="Add">
      </label>
    </form>
  </div>
  <div class="container">
    <div id="friends-list">
      <h2>Listed Friends</h2>
      <div id="list">
        {{#each friendsList}}
          <div class="friend">
            <button class="delete btn">x</button>
            <div class="friend-data">{{ name }}</div>
            <div class="friend-data">{{ age }}</div>
            <button class="update btn">update</button>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</body>
</html>